/* Section - 1 */

.image-container {
    display: flex;
    justify-content: center;
    margin-top: 60%;
}

.portaet_img {
    display: block;
    width: 50%;
    height: auto;
}

.content-container {
    margin-bottom: 30%;
}

.content-container h3 {
    text-align: center;
    color: #FEE1BB;
    font-size: 3.5rem;
    position: relative;
    top: -53px;
    left: 0;
}

.bar {
    width: 24%;
    height: 4px;
    background-color: #FEE1BB;
    position: relative;
    top: -117px;
    left: 25%;
}

.content-container h4 {
    text-align: center;
    color: #FEE1BB;
    font-size: 0.7rem;
    position: relative;
    top: -141px;
    left: 56px;
}

.gen_knap1 {
    display: inline-block;
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: relative;
    top: -233px;
    left: 28%;
}

.gen_knap2 {
    display: inline-block;
    padding: 5px 11px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: relative;
    top: -179px;
    left: -21%;
}

.gen_knap1 a,
.gen_knap2 a {
    color: #FEE1BB;
    text-decoration: none;
}

/* Playliste + pop-up */

.playlist img {
    cursor: pointer;
    display: block;
    width: 70%;
    height: auto;
    position: relative;
    top: -170px;
    left: 15%;
}

.playlist {
    position: relative;
    cursor: pointer;
}

.playlist {
    padding: 50px 20px;
    margin-top: -11px;
}

/* pop-up */

.popup-button {
    display: block;
    position: absolute;
    bottom: 335px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 18px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Indie Flower';
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/Artboard\ 44.svg);
    background-size: cover;
    background-position: center;
    background-color: #9C2E0E;
    padding: 20px;
    text-align: center;
    width: 70%;
    height: 73%;
    font-family: 'Indie Flower';
}

.mig {
    position: relative;
    top: 101px;
    right: 3%;
    text-decoration: none;
    color: #FDA45F;
}

.web {
    position: relative;
    top: 154px;
    right: 22%;
    text-decoration: none;
    color: #FDA45F;
}

.ux {
    position: relative;
    top: 183px;
    right: 1%;
    text-decoration: none;
    color: #FDA45F;
}

.anime {
    position: relative;
    top: 238px;
    right: 50%;
    text-decoration: none;
    color: #FDA45F;
}

.indhold {
    position: relative;
    top: 266px;
    right: -12%;
    text-decoration: none;
    color: #FDA45F;
}

.overblik {
    position: relative;
    top: 319px;
    right: 48%;
    text-decoration: none;
    color: #FDA45F;
}

.close {
    position: fixed;
    top: -25px;
    right: 10px;
    font-size: 70px;
    cursor: pointer;
    color: #FEE1BB;
}

#tracklist {
    display: none;
}

.track_titles {
    display: none;
}

/*********************desktop version ****************************/

@media only screen and (min-width: 700px) {

    /* hero / header */
    .logo {
        width: 25%;
        height: auto;
        position: relative;
        left: 37%;
        top: 10px;
    }

    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 70vh;
        background-image: linear-gradient(#00000080, #00000080), url("/img/hero-image.png");
        background-size: cover;
        background-position: center;
    }

    .hero-text {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        color: #FEE1BB;
        font-family: MieSpecial-Regular, sans-serif;
    }

    .hero-text h1 {
        font-size: 140px;
        margin: 0 7px;
        padding: 0;
        text-align: start;
        position: relative;
        left: 10%;
    }

    .img_hero-text {
        width: 57%;
        height: auto;
        aspect-ratio: 1272/521;
        position: relative;
        top: -1px;
        left: 10%;
    }

    /********************* indledende sektion  ****************************/

    .image-container {
        position: relative;
        top: -185px;
        right: 26%;
    }

    .portaet_img {
        display: block;
        width: 27%;
        height: auto;
    }

    .content-container {
        margin-bottom: 30%;
    }

    .content-container h3 {
        font-size: 5.5rem;
        position: relative;
        top: -628px;
        left: 23%;
    }

    .bar {
        width: 7%;
        height: 4px;
        position: relative;
        top: -718px;
        left: 64%;
    }

    .content-container h4 {
        font-size: 1.2rem;
        position: relative;
        top: -761px;
        left: 408px;
    }

    .gen_knap1 {
        font-size: 1.9rem;
        cursor: pointer;
        position: relative;
        top: -1149px;
        left: 64%;
        padding-right: 95px;
    }

    .gen_knap2 {
        font-size: 1.9rem;
        cursor: pointer;
        position: relative;
        top: -1041px;
        left: 39.3%;
    }

    .gen_knap1 a,
    .gen_knap2 a {
        color: #FEE1BB;
    }

    /* Playliste + pop-up */

    #tracklist {
        display: block;
        position: relative;
        top: -1639px;
        left: 62%;
        height: 85vh;
        aspect-ratio: 439/826;
    }

    .playlist img {
        cursor: pointer;
        display: block;
        width: 28%;
        height: auto;
        position: relative;
        top: -946px;
        left: 9%;
    }

    .playlist {
        padding: 50px 20px;
        margin-top: -11px;
    }

    /* pop-up */
    .popup-button {
        display: none;
    }

    .popup {
        display: none;
    }

    .popup-content {
        display: none;
    }

    .track_titles {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 2198px;
        left: 68%;
    }

    .track_titles a {
        display: block;
        margin-bottom: 10px;
        font-family: 'Indie flower';
        text-decoration: none;
        color: #FEE1BB;
        font-size: 1.3rem;
    }

    .track_titles a:hover {
        color: #FDA45F;
    }

    .mig_web {
        position: relative;
        top: -2px;
        right: 0%;
    }

    .web2 {
        position: relative;
        top: 16px;
        right: 0%;

    }

    .ux_web {
        position: relative;
        top: 32px;
        right: 0%;

    }

    .anime_web {
        position: relative;
        top: 53px;
        right: 0%;

    }

    .indhold_web {
        position: relative;
        top: 69px;
        right: 0%;

    }

    .overblik_web {
        position: relative;
        top: 85px;
        right: 0%;

    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 70%;
        height: auto;
        position: relative;

        margin-top: -15%;
        margin-left: 195%;
        margin-bottom: 5%;
    }

    .si {
        padding: 10%;
    }
}