body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-size: 100% 100%;
    background-color: #4B1A04;
}

h1 {
    font-family: 'Indie Flower';
}

h3 {
    font-family: 'Indie Flower';
}

h4 {
    font-family: 'Indie Flower';
}

p {
    font-family: 'Lato';
}

img {
    width: 100%;
    height: auto;
}

/*********************burger menu ****************************/

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 30px;
    overflow: visible;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;

    background: #FEE1BB;
}

#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
    background: #FEE1BB;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
    background: #FEE1BB;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #9C2E0E;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #9C2E0E;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: #FEE1BB;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style: none;
    font-family: 'Indie Flower';
}

#menu a {
    color: #9C2E0E;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
}

/********************** hero image **************************************/
/* hero / header */
.logo {
    width: 42%;
    height: auto;
    position: relative;
    left: 29%;
    top: 18px;
    z-index: 1;
}

/* hero-image */
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-image: url(/img/hero-image.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero-text {
    display: flex;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FEE1BB;
}

.hero-text h1 {
    font-size: 3rem;
    position: relative;
    left: -1px;
    top: -11px;
}

.hero-text h3 {
    font-size: 0.8rem;
    position: absolute;
    left: 30px;
    top: 64px;
}

/**********************Footer**************************************/
.footer {
    background-image: url(/img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: sticky;
    margin-top: -275px;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 30%;
    height: auto;
    position: absolute;
    top: 84%;
    left: 34%;
}

.si {
    width: 50%;
}

.copy {
    font-size: 0.6rem;
    font-family: 'Lato', sans-serif;
    position: relative;
    top: 280px;
    left: 24%;
    color: #FEE1BB;
}

@media only screen and (min-width: 800px) {
    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 104vh;
        background-image: url(/img/hero-image.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .hero-text {
        display: flex;
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FEE1BB;
    }

    .hero-text h1 {
        font-size: 10rem;
        position: relative;
        left: -1px;
        top: -101px;
    }

    .hero-text h3 {
        font-size: 1.8rem;
        position: absolute;
        left: 161px;
        top: 64px;
    }



    .container {
        min-height: 100vh;
        position: relative;
        padding-bottom: 300px;
    }

    .footer {
        background-image: url(/img/footer.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 768px;
        aspect-ratio: 1366/768;
        position: fixed;
        bottom: 0;
        margin-top: 50px;
        pointer-events: none;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 15%;
        height: auto;
        position: absolute;
        top: 883px;
        left: -151%;
    }

    .si {
        width: 50%;
    }

    .copy {
        font-size: 0.8rem;
        font-family: 'Lato', sans-serif;
        position: absolute;
        top: 722px;
        left: 42%;
        color: #FEE1BB;
    }
}