/********************* GENERAL CSS ****************************/
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #4B1A04;
}

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-family: 'Indie Flower';
    color: #FEE1BB;
}

h3 {
    font-family: 'Indie Flower';
    color: #FEE1BB;
}

h4 {
    font-family: 'Indie Flower';
}

p {
    font-family: 'Lato';
    color: #FEE1BB;
}

img {
    width: 100%;
    height: auto;
}

/********************* BURGER MENU ****************************/

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 30px;
    overflow: visible;
    position: absolute;
    z-index: 4;
    top: 0;
    right: 0;
}

#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
    display: block;
    height: 2px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}

#burger-menu span:before,
#burger-menu span:after {
    content: "";
}

#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 27px;

    background: #FEE1BB;
}

#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
    background: #FEE1BB;
}

#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
    background: #FEE1BB;
}

#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
    background: #FDA45F;
}

#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
    background: #FDA45F;
}

#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}

#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 100px;
    background: #CC5819;
}

#menu ul {
    padding: 0;
}

#menu li {
    list-style: none;
    font-family: 'Indie Flower';
}

#menu ul li a {
    color: #FDA45F;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu ul li a:hover {
    color: #FEE1BB;
}

#menu ul li a.activee {
    color: #6E2200;
    text-decoration: underline;
}

/********************** Brødkrumme sti **************************************/

.breadcrumbs {
    display: none;
}

.breadcrumbs_spil {
    display: none;
}

.breadcrumbs_video {
    display: none;
}

.breadcrumbs_virksomhedssite {
    display: none;
}


/********************** HERO IMAGE + LOGO **************************************/
/* hero / header */
.logo {
    width: 42%;
    height: auto;
    position: relative;
    left: 29%;
    top: 5px;
    z-index: 1;
}

/* hero-image */
.hero-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background-image: url(/img/hero-image.png);
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.hero-text {
    display: flex;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FEE1BB;
    font-family: 'Indie flower';
}

.hero-text h1 {
    font-size: 3rem;
    position: relative;
    left: -1px;
    top: -11px;
}

#name {
    font-size: 0.8rem;
    position: absolute;
    left: 30px;
    top: 78px;
}

/********************** FOOTER **************************************/
.footer {
    background-image: url(/img/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -118px;
    left: -132px;
}

.si {
    width: 18px;
    height: auto;
    margin: 0 5px;
}

.copy {
    font-size: 0.5rem;
    font-family: 'Lato', sans-serif;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FEE1BB;
}

.contact-info {
    margin-top: 20px;
    color: #FEE1BB;
    font-size: 0.6rem;
    text-align: center;
    position: absolute;
    bottom: -1px;
    right: 22px;
}

.contact-info p {
    margin-bottom: 5px;
}

.contact-info a {
    color: #FEE1BB;
    text-decoration: none;
}

/********************** DESKTOP GENERAL **************************************/
@media only screen and (min-width: 800px) {

    /* hero / header */
    .hero-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 104vh;
        background-image: url(/img/hero-image.png);
        background-size: cover;
        background-position: center;
        z-index: -1;
    }

    .hero-text {
        display: flex;
        position: absolute;
        top: 59%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #FEE1BB;
    }


    .logo {
        width: 44%;
        height: auto;
        position: relative;
        left: 28%;
        top: 16px;
    }

    .hero-text h1 {
        font-size: 10rem;
        margin: 0 7px;
        padding: 0;
        text-align: start;
        position: relative;
        left: 3%;
        top: -40px;
    }

    #name {
        font-size: 1.8rem;
        position: absolute;
        left: 161px;
        top: 146px;
    }

    /********************** Brødkrumme sti **************************************/

    .breadcrumbs {
        display: block;
        margin-top: 64px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        position: relative;
        top: 823px;
        left: 2%;
    }

    .breadcrumbs ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs li {
        display: inline-block;
        margin-right: 10px;
    }

    .breadcrumbs li:last-child {
        margin-right: 0;
    }

    .breadcrumbs a {
        text-decoration: none;
        color: #000;
        padding: 6px 8px;
        background-color: #FEE1BB;
        color: #9C2E0E;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    .breadcrumbs a:hover {
        background-color: #CC5819;
        color: #FDA45F;
    }

    .breadcrumbs_spil {
        display: block;
        margin-top: -137px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        position: relative;
        top: 974px;
        left: 2%;
    }

    .breadcrumbs_spil ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs_spil li {
        display: inline-block;
        margin-right: 10px;
    }

    .breadcrumbs_spil li:last-child {
        margin-right: 0;
    }

    .breadcrumbs_spil a {
        text-decoration: none;
        color: #000;
        padding: 6px 8px;
        background-color: #FEE1BB;
        color: #9C2E0E;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    .breadcrumbs_spil a:hover {
        background-color: #CC5819;
        color: #FDA45F;
    }

    .breadcrumbs_video {
        display: block;
        margin-top: -137px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        position: relative;
        top: 974px;
        left: 2%;
    }

    .breadcrumbs_video ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs_video li {
        display: inline-block;
        margin-right: 10px;
    }

    .breadcrumbs_video li:last-child {
        margin-right: 0;
    }

    .breadcrumbs_video a {
        text-decoration: none;
        color: #000;
        padding: 6px 8px;
        background-color: #FEE1BB;
        color: #9C2E0E;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    .breadcrumbs_video a:hover {
        background-color: #CC5819;
        color: #FDA45F;
    }

    .breadcrumbs_virksomhedssite {
        display: block;
        margin-top: -137px;
        font-family: 'Lato', sans-serif;
        font-size: 14px;
        position: relative;
        top: 974px;
        left: 2%;
    }

    .breadcrumbs_virksomhedssite ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .breadcrumbs_virksomhedssite li {
        display: inline-block;
        margin-right: 10px;
    }

    .breadcrumbs_virksomhedssite li:last-child {
        margin-right: 0;
    }

    .breadcrumbs_virksomhedssite a {
        text-decoration: none;
        color: #000;
        padding: 6px 8px;
        background-color: #FEE1BB;
        color: #9C2E0E;
        border-radius: 20px;
        transition: background-color 0.3s ease;
    }

    .breadcrumbs_virksomhedssite a:hover {
        background-color: #CC5819;
        color: #FDA45F;
    }

    /********************** Knap til sites **************************************/

    .link_site {
        padding: 5px 35px;
        background-color: transparent;
        color: #FEE1BB;
        border-radius: 30px;
        border: #FEE1BB solid 2px;
        font-size: 2rem;
        cursor: pointer;
        font-family: 'Indie Flower';

    }

    .link_site:hover {
        background-color: #9C2E0E;
    }

    /********************** FOOTER **************************************/

    .container {
        min-height: 100vh;
        position: relative;
        padding-bottom: 300px;
    }

    .footer {
        background-image: url(/img/footer.svg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 768px;
        aspect-ratio: 1366/768;
        position: fixed;
        bottom: 0;
        margin-top: 50px;
        pointer-events: none;
    }

    .icons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 20%;
        height: auto;
        position: absolute;
        top: 513px;
        left: 41%;
    }


    .si {
        width: 50%;
    }

    .copy {
        font-size: 0.8rem;
        font-family: 'Lato', sans-serif;
        position: absolute;
        top: 739px;
        left: 41%;
        color: #FEE1BB;
    }


    .contact-info {
        margin-top: 20px;
        color: #FEE1BB;
        font-size: 1rem;
        text-align: center;
        position: relative;
        top: 647px;
        left: 29%;
    }
}

/********************** INDEX - MOBIL **************************************/
/* Selvportræt */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 25vh;
    overflow: hidden;
}

.portaet_img {
    display: block;
    width: 50%;
    height: auto;
}

/* overskrift med linje og dato */
.content-container {
    margin-bottom: 15vh;
}

.content-container h3 {
    text-align: center;
    color: #FEE1BB;
    font-size: 3.5rem;
    position: relative;
    top: -53px;
    left: 0;
}

.bar {
    width: 24%;
    height: 4px;
    background-color: #FEE1BB;
    position: relative;
    top: -117px;
    left: 25%;
}

.content-container h4 {
    text-align: center;
    color: #FEE1BB;
    font-size: 0.7rem;
    position: relative;
    top: -141px;
    left: 56px;
}

/* General Knappe stil */
.gen_knap {
    margin-top: 16px;
    font-family: 'Indie Flower';
    font-size: 0.9rem;
}

.gen_knap1 {
    display: inline-block;
    padding: 5px 35px;
    background-color: transparent;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    cursor: pointer;
    position: relative;
    top: -233px;
    left: 28%;
}

.gen_knap2 {
    display: inline-block;
    padding: 5px 11px;
    background-color: transparent;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    top: -179px;
    left: -13%;
}

.gen_knap1 a,
.gen_knap2 a {
    color: #FEE1BB;
    text-decoration: none;
}

/* Playliste + pop-up */

.playlist img {
    cursor: pointer;
    display: block;
    width: 70%;
    height: auto;
    position: relative;
    top: -170px;
    left: 15%;
}

.playlist {
    position: relative;
    cursor: pointer;
    padding: 50px 20px;
    margin-top: -11px;
}

/* Pop-up Button */
.popup-button {
    display: block;
    position: absolute;
    bottom: 335px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 18px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-family: 'Indie Flower';
}

/* Pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(/img/forside/Artboard_44.svg);
    aspect-ratio: 439/826;
    background-size: cover;
    background-position: center;
    background-color: #9C2E0E;
    padding: 20px;
    text-align: center;
    width: 55%;
    height: 68%;
    font-family: 'Indie Flower';
}

/* Pop-up Links */
.ssp {
    position: relative;
    top: 73px;
    right: -11%;
    text-decoration: none;
    color: #FDA45F;
}


.emne {
    position: relative;
    top: 113px;
    right: 53%;
    text-decoration: none;
    color: #FDA45F;
}

.pitch {
    position: relative;
    top: 131px;
    right: -9%;
    text-decoration: none;
    color: #FDA45F;
}

.spil {
    position: relative;
    top: 175px;
    right: 10%;
    text-decoration: none;
    color: #FDA45F;
}


.video {
    position: relative;
    top: 219px;
    right: 50%;
    text-decoration: none;
    color: #FDA45F;
}

.virksomhed {
    position: relative;
    top: 231px;
    right: 8%;
    text-decoration: none;
    color: #FDA45F;
}

/* Close Button */
.close {
    position: fixed;
    top: -25px;
    right: 10px;
    font-size: 70px;
    cursor: pointer;
    color: #FEE1BB;
}

/* Tracklist - desktop */
#tracklist {
    display: none;
}

.track_titles {
    display: none;
}

/********************** INDEX - DESKTOP **************************************/
@media only screen and (min-width: 800px) {

    /********************* indledende sektion  ****************************/

    /* Grid Container */
    .grid-container {
        margin-top: 833px;
    }

    /* Selvportræt */
    .image-container {
        position: relative;
        top: -185px;
        right: 26%;
    }

    .portaet_img {
        display: block;
        width: 27%;
        height: auto;
    }

    /* overskrift med linje og dato */
    .content-container {
        margin-bottom: 33%;
    }

    .content-container h3 {
        font-size: 5.5rem;
        position: relative;
        top: -585px;
        left: 23%;
    }

    .bar {
        width: 7%;
        height: 4px;
        position: relative;
        top: -699px;
        left: 64%;
    }

    .content-container h4 {
        font-size: 1.2rem;
        position: relative;
        top: -741px;
        left: 408px;
    }

    /* General Knappe stil */
    .gen_knap1 {
        font-size: 1.9rem;
        cursor: pointer;
        position: relative;
        top: -1204px;
        left: 63%;
        padding-right: 95px;
    }

    .gen_knap2 {
        font-size: 1.9rem;
        cursor: pointer;
        position: relative;
        top: -1111px;
        left: 38.3%;
    }

    .gen_knap1 a,
    .gen_knap2 a {
        color: #FEE1BB;
    }

    .gen_knap1:hover,
    .gen_knap2:hover {
        background-color: #9C2E0E;
    }

    /* Playliste + pop-up */

    /* Hide Playlist and Pop-up elements */
    img[src="img/forside/Artboard 43.svg"],
    .popup-button,
    #tracklist,
    .popup,
    .popup-content {
        display: none;
    }

    /* Desktop Track, erstatter pop-up */
    .desktop_track {
        background-image: url(/img/forside/index_track.svg);
        background-size: contain;
        background-repeat: no-repeat;
        aspect-ratio: 1920/1080;
        padding: 50px 20px;
        margin-top: -203px;
        position: relative;
        top: -804px;
        left: 9%;
        height: 83vh;
        width: 100%;
    }

    /* Track Titles, erstatter pop-up links */
    .track_titles {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 1217px;
        left: 68%;
        margin-bottom: -55%;
    }

    .track_titles a {
        display: block;
        margin-bottom: 10px;
        font-family: 'Indie flower';
        text-decoration: none;
        color: #FEE1BB;
        font-size: 1.3rem;
    }

    .track_titles a:hover {
        color: #FDA45F;
    }

    /* Track Title Links */
    .ssp_web {
        position: relative;
        top: -2px;
        right: 1%;
    }

    .emne2 {
        position: relative;
        top: 6px;
        right: 1%;

    }

    .pitch_web {
        position: relative;
        top: 14px;
        right: 1%;

    }

    .spil_web {
        position: relative;
        top: 18px;
        right: 1%;

    }

    .video_web {
        position: relative;
        top: 28px;
        right: 1%;
    }

    .virksomhed_web {
        position: relative;
        top: 34px;
        right: 1%;
    }
}


/********************** OM MIG - MOBIL **************************************/

.selfie {
    position: relative;
    top: 218px;
    left: 31%;
}

.selfie img {
    width: 35%;
    height: auto;
}

.skills {
    position: relative;
    top: 201px;
    left: 6%;
}


.skills img {
    width: 90%;
    height: auto;
}

.mememe {
    padding: 20px;
    margin-bottom: 20%;
    margin-top: 52%;
}


.mememe h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.mememe p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    margin-left: 47px;
    margin-right: 19px;
    font-family: lato;
    font-weight: 200;
}

.mememe p:first-child {
    margin-top: 0;
}

.mememe p:last-child {
    margin-bottom: 0;
}

.intro {
    margin-bottom: 1em;
}

.closing {
    margin-top: 2em;
}

.figur_trio {
    width: 13%;
    height: auto;
    position: relative;
    top: -795px;
    left: 13%;
}

.figur_arrow {
    width: 13%;
    height: auto;
    position: relative;
    top: -824px;
    left: 55%;
    transform: scaleX(-1) scaleY(-1) rotate(-35deg);
}

.swirl {
    width: 7%;
    height: auto;
    aspect-ratio: 63.89/67.83;
    position: relative;
    top: -605px;
    left: 2%;
}

/********************** OM MIG - DESKTOP **************************************/
@media only screen and (min-width: 800px) {

    .grid_1_1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        align-items: center;
        position: relative;
        right: 4%;
        top: -66px;
        margin-bottom: 30%;
    }

    .selfie {
        grid-column: 1 / 2;
        position: relative;
        top: -103px;
        left: 31%;
    }

    .selfie img {
        width: 45%;
        height: auto;
    }

    .mememe {
        grid-column: 2 / 3;
    }


    .mememe h1 {
        position: relative;
        top: -190px;
        left: -109%;
        font-size: 3rem;
    }

    .mememe p {
        line-height: 2;
        text-align: left;
        position: relative;
        top: -180px;
        left: 0%;
    }

    .skills {
        position: relative;
        top: 1366px;
        left: 6%;
    }

    .figur_trio {
        width: 13%;
        height: auto;
        position: relative;
        top: -348px;
        left: -85%;
    }

    .figur_arrow {
        width: 25%;
        height: auto;
        position: relative;
        top: -703px;
        left: -52%;
        transform: scaleX(-1) scaleY(-1) rotate(-63deg);
    }

    .swirl {
        width: 9%;
        height: auto;
        aspect-ratio: 63.89/67.83;
        position: relative;
        top: -836px;
        left: -126%;
    }
}

/********************** GRUND WEB - MOBIL **************************************/
.image-grid01 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 72%;
    margin-top: 52%;
}


.image-grid img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.cover_img1 {
    position: relative;
    top: 10px;
    left: 50%;
}

.button1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -256px;
    left: 38%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
}

.cover_img2 {
    position: relative;
    top: 262px;
    left: -55%;
}


.button2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 18px;
    left: 12%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
    margin-bottom: 17%;
}

.button_container {
    margin-bottom: 10%;
}


/********************** GRUND WEB - DESKTOP **************************************/
@media only screen and (min-width: 800px) {
    .image-grid01 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-bottom: 40%;
        margin-top: 42%;
    }

    .image-grid01 img:hover {
        transform: scale(1.1);
        /* Increase the scale of the image on hover */
    }

    .cover_img1 {
        position: relative;
        top: 10px;
        left: 50%;
        height: auto;
        width: 100%;
    }

    .cover_img2 {
        position: relative;
        top: 10px;
        left: 50%;
        height: auto;
        width: 96%;
    }

    .button_container {
        display: none;
    }
}


/********************** GRUND UX - MOBIL **************************************/
.image-grid03 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 78%;
    margin-top: 50%;
}

.image-grid03 img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.solo_img03 {
    position: relative;
    top: 10px;
    left: 50%;
}

.solo_button03 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -238px;
    left: 38%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
}

/********************** GRUND UX - DESKTOP **************************************/
@media only screen and (min-width: 800px) {
    .image-grid03 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-bottom: 24%;
        margin-top: 43%;
    }

    .image-grid03 img:hover {
        transform: scale(1.1);
        /* Increase the scale of the image on hover */
    }

    .solo_img03 {
        position: relative;
        top: 10px;
        left: 106%;
        height: auto;
        width: 100%;
    }
}

/********************** ANIMATION - MOBIL **************************************/

.image-grid04 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 78%;
    margin-top: 50%;
}

.image-grid img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.solo_img04 {
    position: relative;
    top: 10px;
    left: 50%;
}

.solo_button04 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -238px;
    left: 38%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
}


/********************** ANIMATION - DESKTOP **************************************/
@media only screen and (min-width: 800px) {
    .image-grid04 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-bottom: 24%;
        margin-top: 43%;
    }

    .image-grid04 img:hover {
        transform: scale(1.1);
        /* Increase the scale of the image on hover */
    }

    .solo_img04 {
        position: relative;
        top: 10px;
        left: 106%;
        height: auto;
        width: 100%;
    }
}


/********************** GRUND INDHOLD - MOBIL **************************************/
.image-grid05 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-bottom: 72%;
    margin-top: 55%;
}


.image-grid img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.cover_img3 {
    position: relative;
    top: 10px;
    left: 50%;
}

.button3 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: -244px;
    left: 38%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
}

.cover_img4 {
    position: relative;
    top: 262px;
    left: -55%;
}


.button4 {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 18px;
    left: 12%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
    margin-bottom: 17%;
}

.button_container {
    margin-bottom: 10%;
}

/********************** GRUND INDHOLD - DESKTOP **************************************/
@media only screen and (min-width: 800px) {
    .image-grid05 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-bottom: 40%;
        margin-top: 42%;
    }

    .image-grid img:hover {
        transform: scale(1.1);
        /* Increase the scale of the image on hover */
    }

    .cover_img3 {
        position: relative;
        top: 10px;
        left: 50%;
        height: auto;
        width: 100%;
    }

    .cover_img4 {
        position: relative;
        top: 10px;
        left: 50%;
        height: auto;
        width: 96%;
    }

    .button_container {
        display: none;
    }
}

/********************** OVERBLIK - MOBIL **************************************/

.image-grid06 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    position: relative;
    top: 200px;
    left: 5%;
    margin-bottom: 71%;
}

.image-grid06 img {
    width: 80%;
    height: auto;
    transition: transform 0.3s ease;
}

.button-text {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    color: #FEE1BB;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    top: 18px;
    left: 12%;
    border: 2px #FEE1BB solid;
    border-radius: 30px;
    margin-bottom: 17%;
}

/********************** OVERBLIK - DESKTOP **************************************/
@media only screen and (min-width: 800px) {
    .image-grid06 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
        margin-bottom: 29%;
        margin-top: 30%;
    }

    .image-grid06 img:hover {
        transform: scale(1.1);
    }

    .button-text {
        display: none;
    }

}

/********************** Proces - MOBIL **************************************/

/* Styling for the 'why' section (første tekstboks) */
.why {
    background-color: #cc5819;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    margin-top: 161px;
}

.why h1 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.why p {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 200;
}

/* Styling for the title */
.title {
    margin-top: 8%;
    text-align: center;
    font-family: 'Indie flower';
}

.swirl_pro {
    width: 7%;
    height: auto;
    aspect-ratio: 63.89/67.83;
    position: relative;
    top: -60px;
    left: 29%;
}

/* Styling for the grid container */
.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    align-items: start;
    margin-top: -45px;
}

/* Styling for grid items */
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 3.5px solid #FEE1BB;
    padding-top: 10px;
    text-align: left;
}

.grid-item h3 {
    text-align: left;
    margin: 0 20px;
}

.grid-item p {
    align-self: flex-start;
    color: #FEE1BB;
    font-family: 'Lato';
    font-weight: 200;
    background-color: #cc5819;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
    margin-top: 20px;
}

.grid-item a {
    text-decoration: none;
    color: #000;
    padding: 6px 8px;
    background-color: #FDA45F;
    color: #9C2E0E;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    font-family: 'Lato';
    font-weight: 200;
    margin-top: 10px;
}

.grid-item img {
    width: 82%;
    height: auto;
    margin-top: 28px;
    margin-bottom: 30px;
}

.img_gallery {
    position: relative;
    left: 9%;
}

/* Global styles */
* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #FEE1BB;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#next {
    right: 10px;
    border-radius: 8px;
}

#prev {
    left: 10px;
    border-radius: 8px;
}

/* Caption text */
.text {
    color: #FEE1BB;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Indie flower';
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #FEE1BB;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #FDA45F;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Styling for the stempel image */
#stempel {
    width: 22%;
    height: auto;
    margin-bottom: 23%;
}

/********************** Proces - DESKTOP **************************************/
@media only screen and (min-width: 800px) {


    .why {
        position: relative;
        top: 386px;
        margin-top: 218px;
    }

    .title {
        margin-top: 28%;
        text-align: center;
        font-family: 'Indie flower';
        font-size: 3rem;
    }

    .swirl_pro {
        position: relative;
        top: -100px;
        left: 39%;
        width: 4%;
    }

    .slideshow-container {
        max-width: 650px;
        position: relative;
        margin: auto;
    }

    .grid-item p {
        align-self: flex-start;
    }

    .grid-item a:hover {
        background-color: #9C2E0E;
        color: #FDA45F;
    }

    #moodboard {
        width: 45%;
        height: auto;
    }

    #prototype {
        width: 45%;
        height: auto;
    }

    /* On hover, add a black background color with a little bit see-through */
    #prev:hover,
    #next:hover {
        background-color: #CC5819;
    }

    #stempel {
        width: 12%;
        height: auto;
        margin-bottom: 18%;
    }
}


/********************** PROJEKT - MOBIL **************************************/
/* STUDIESTARTSPRØVEN */
.track_01 {
    margin-top: 29%;
}

.ssp-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_ssp {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.ssp-text1 {
    position: absolute;
    left: 16%;
    top: 54%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
}

.link_site_ssp {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 226px;
    left: -1%;
}

.ssp-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_ssp_2 {
    position: absolute;
    left: 40%;
    top: 97%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_ssp {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 780px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_ssp,
#next_ssp {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_ssp {
    left: -20px;
    border-radius: 8px;
}

#next_ssp {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.ssp-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_ssp3 {
    position: absolute;
    left: 35%;
    top: 149%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.ssp-text3 {
    position: absolute;
    left: 21%;
    top: 159%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
    margin-bottom: 100px;
}

/* EMNESITE */
.track_02 {
    margin-top: 29%;
}

.emne-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_emne {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.emne-text1 {
    position: absolute;
    left: 22%;
    top: 56%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 14%;
}

.link_site_emne {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 196px;
    left: 9%;
}

.emne-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_emne_2 {
    position: absolute;
    left: 40%;
    top: 97%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_emne {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 780px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_ssp,
#next_ssp {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_emne {
    left: -20px;
    border-radius: 8px;
}

#next_emnes {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.emne-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_emne3 {
    position: absolute;
    left: 35%;
    top: 149%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.emne-text3 {
    position: absolute;
    left: 21%;
    top: 159%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
    margin-bottom: 100px;
}

/* PITCH */
.track_03 {
    margin-top: 29%;
}

.pitch-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 530px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_pitch {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.pitch-text1 {
    position: absolute;
    left: 22%;
    top: 56%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 14%;
}

.pitch_list {
    position: absolute;
    left: 18%;
    top: 93%;
    font-size: 1rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.link_site_pitch {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 824px;
    left: 21%;
}

.pitch-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 518px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_pitch_2 {
    position: absolute;
    left: 40%;
    top: 124%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_pitch {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 981px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_pitch,
#next_pitch {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_pitch {
    left: -20px;
    border-radius: 8px;
}

#next_pitch {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.pitch-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_pitch3 {
    position: absolute;
    left: 35%;
    top: 198%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.pitch-text3 {
    position: absolute;
    left: 21%;
    top: 208%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
}

/* ANIMATION */
.track_04 {
    margin-top: 29%;
}

.spil-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 412px;
    position: relative;
    left: 13%;
    top: 13.5%;
    padding-left: 335px;
    margin-top: 24px;
}


.title_spil {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.spil-text1 {
    position: absolute;
    left: 22%;
    top: 56%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 14%;
}

.link_site_spil {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 251px;
    left: 6%;
}

.spil-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 389px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_spil_2 {
    position: absolute;
    left: 40%;
    top: 108%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_spil {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 869px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_spil,
#next_spil {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_spil {
    left: -20px;
    border-radius: 8px;
}

#next_spil {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.spil-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_spil3 {
    position: absolute;
    left: 35%;
    top: 164%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.spil-text3 {
    position: absolute;
    left: 21%;
    top: 174%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
}

/* VIDEOSITE */
.track_05 {
    margin-top: 29%;
}

.video-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 24px;
}


.title_video {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.video-text1 {
    position: absolute;
    left: 16%;
    top: 54%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
}

.link_site_video {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 226px;
    left: -1%;
}

.video-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 427px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_video_2 {
    position: absolute;
    left: 40%;
    top: 97%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_video {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 780px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_video,
#next_video {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_video {
    left: -20px;
    border-radius: 8px;
}

#next_video {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.video-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_video3 {
    position: absolute;
    left: 35%;
    top: 159%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.video-text3 {
    position: absolute;
    left: 21%;
    top: 169%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
    margin-bottom: 100px;
}

/* VIRKSOMHEDSSITE */
.track_06 {
    margin-top: 29%;
}

.virk-div {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: -20.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_virk {
    position: absolute;
    left: 27%;
    bottom: 39%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.virk-text1 {
    position: absolute;
    left: 16%;
    top: 54%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
}

.link_site_virk {
    padding: 5px 35px;
    background-color: transparent;
    color: #FEE1BB;
    border-radius: 30px;
    border: #FEE1BB solid 2px;
    font-size: 1rem;
    cursor: pointer;
    font-family: 'Indie Flower';
    position: absolute;
    top: 226px;
    left: -1%;
}

.virk-div2 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 252px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
}

.title_virk_2 {
    position: absolute;
    left: 40%;
    top: 97%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

/* Slideshow container */
.slideshow-container_virk {
    max-width: 290px;
    position: absolute;
    margin: auto;
    left: 18%;
    top: 780px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
#prev_virk,
#next_virk {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #4B1A04;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right and prev to the left */
#prev_virk {
    left: -20px;
    border-radius: 8px;
}

#next_virk {
    right: -20px;
    border-radius: 8px;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.virk-div3 {
    width: 1%;
    color: #FEE1BB;
    background-color: #CC5819;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 2px 4px #180901;
    height: 12%;
    padding-bottom: 338px;
    position: relative;
    left: 13%;
    top: 1.5%;
    padding-left: 335px;
    margin-top: 25px;
    margin-bottom: 115px;
}

.title_virk3 {
    position: absolute;
    left: 35%;
    top: 134%;
    font-size: 2rem;
    font-family: 'Indie flower';
    color: #FEE1BB;
}

.virk-text3 {
    position: absolute;
    left: 21%;
    top: 145%;
    font-size: 1rem;
    font-family: 'lato';
    font-weight: 200;
    padding-right: 20%;
    margin-bottom: 100px;
}

/********************** PROJEKT - DESKTOP **************************************/
@media only screen and (min-width: 800px) {

    /* STUDIESTARTSPRØVEN */
    .track_01 {
        margin-bottom: -43%;
    }

    .ssp-div {
        top: 667px;
        left: 2%;
        width: 39%;
    }

    .title_ssp {
        left: 4%;
        bottom: -59%;
    }

    .ssp-text1 {
        left: 4%;
        top: 153%;
        padding-right: 62%;
    }

    .link_site_ssp {
        top: 145px;
        left: -1%;
        font-size: 2rem;
    }

    .link_site_ssp:hover {
        background-color: #9C2E0E;
    }

    .ssp-div2 {
        top: 667px;
        left: 2%;
        width: 39%;
    }

    .title_ssp_2 {
        left: 5%;
        top: 192%;
    }

    /* Slideshow container */
    .slideshow-container_ssp {
        max-width: 306px;
        left: 11%;
        top: 1648px;
    }

    #prev_ssp,
    #next_ssp {
        color: #FEE1BB;
    }

    .ssp-div3 {
        top: -54px;
        left: 59%;
        width: 39%;
        margin-bottom: 41%;
    }

    .title_ssp3 {
        left: 61%;
        top: 147%;
    }


    .ssp-text3 {
        left: 61%;
        top: 156%;
        padding-right: 3%;
    }

    /* EMNESITE */
    .track_02 {
        margin-bottom: -43%;
    }

    .emne-div {
        top: 667px;
        left: 2%;
        width: 39%;
    }

    .title_emne {
        left: 4%;
        bottom: -59%;
    }

    .emne-text1 {
        left: 4%;
        top: 153%;
        padding-right: 62%;
    }

    .link_site_emne {
        top: 145px;
        left: -1%;
        font-size: 2rem;
    }

    .link_site_emne:hover {
        background-color: #9C2E0E;
    }

    .emne-div2 {
        top: 667px;
        left: 2%;
        width: 39%;
    }

    .title_emne_2 {
        left: 5%;
        top: 192%;
    }

    /* Slideshow container */
    .slideshow-container_emne {
        max-width: 306px;
        left: 11%;
        top: 1648px;
    }

    #prev_emne,
    #next_emne {
        color: #FEE1BB;
    }

    .emne-div3 {
        top: -54px;
        left: 59%;
        width: 39%;
        margin-bottom: 41%;
    }

    .title_emne3 {
        left: 61%;
        top: 147%;
    }


    .emne-text3 {
        left: 61%;
        top: 156%;
        padding-right: 3%;
    }

    /* Pitch */
    .track_03 {
        margin-bottom: -43%;
    }

    .pitch-div {
        top: 667px;
        left: 2%;
        width: 39%;
        padding-bottom: 450px;
    }

    .title_pitch {
        left: 4%;
        bottom: -59%;
    }

    .pitch-text1 {
        left: 4%;
        top: 153%;
        padding-right: 62%;
    }

    .pitch_list {
        position: absolute;
        left: 2%;
        top: 175%;
    }

    .link_site_pitch {
        top: 1572px;
        left: 3%;
        font-size: 2rem;
    }

    .link_site_pitch:hover {
        background-color: #9C2E0E;
    }

    .pitch-div2 {
        top: 667px;
        left: 2%;
        width: 39%;
    }

    .title_pitch_2 {
        left: 5%;
        top: 205%;
    }

    /* Slideshow container */
    .slideshow-container_pitch {
        max-width: 306px;
        left: 11%;
        top: 1746px;
    }

    #prev_pitch,
    #next_pitch {
        color: #FEE1BB;
    }

    .pitch-div3 {
        top: -354px;
        left: 59%;
        width: 39%;
        margin-bottom: 41%;
    }

    .title_pitch3 {
        left: 61%;
        top: 147%;
    }


    .pitch-text3 {
        left: 61%;
        top: 156%;
        padding-right: 3%;
    }

    /* ANIMATION */
    .track_04 {
        margin-top: 39%;
    }

    .spil-div {
        top: 70px;
        left: 2%;
        width: 39%;
        padding-bottom: 346px;
    }

    .title_spil {
        left: 4%;
        bottom: -55%;
    }

    .spil-text1 {
        left: 4%;
        top: 150%;
        padding-right: 62%;
    }

    .link_site_spil {
        top: 169px;
        left: 0%;
        font-size: 2rem;
    }

    .link_site_spil:hover {
        background-color: #9C2E0E;
    }

    .spil-div2 {
        top: 91px;
        left: 2%;
        width: 39%;
    }

    .title_spil_2 {
        left: 5%;
        top: 190%;
    }

    /* Slideshow container */
    .slideshow-container_spil {
        max-width: 330px;
        left: 9%;
        top: 1649px;
    }

    #prev_spil,
    #next_spil {
        color: #FEE1BB;
    }

    .spil-div3 {
        top: -723px;
        left: 59%;
        width: 39%;
    }

    .title_spil3 {
        left: 61%;
        top: 142%;
    }

    .spil-text3 {
        left: 61%;
        top: 151%;
        padding-right: 3%;
    }

    /* VIDEOSITE */

    .track_05 {
        margin-top: 41%;
    }

    .video-div {
        top: 33px;
        left: 2%;
        width: 39%;
        padding-bottom: 346px;
    }

    .title_video {
        left: 4%;
        bottom: -55%;
    }

    .video-text1 {
        left: 4%;
        top: 150%;
        padding-right: 62%;
    }

    .link_site_video {
        top: 169px;
        left: 0%;
        font-size: 2rem;
    }

    .link_site_video:hover {
        background-color: #9C2E0E;
    }

    .video-div2 {
        top: 48px;
        left: 2%;
        width: 39%;
    }

    .title_video_2 {
        left: 5%;
        top: 190%;
    }

    /* Slideshow container */
    .slideshow-container_video {
        max-width: 297px;
        left: 9%;
        top: 1619px;
    }

    #prev_video,
    #next_video {
        color: #FEE1BB;
    }

    .video-div3 {
        top: -789px;
        left: 59%;
        width: 39%;
    }

    .title_video3 {
        left: 61%;
        top: 142%;
    }

    .video-text3 {
        left: 61%;
        top: 151%;
        padding-right: 3%;
    }

    /* VIRKSOMHEDSSITE */

    .track_06 {
        margin-top: 39%;
    }

    .virk-div {
        top: 59px;
        left: 2%;
        width: 39%;
        padding-bottom: 346px;
    }

    .title_virk {
        left: 4%;
        bottom: -55%;
    }

    .virk-text1 {
        left: 4%;
        top: 150%;
        padding-right: 62%;
    }

    .link_site_virk {
        top: 169px;
        left: 0%;
        font-size: 2rem;
    }

    .link_site_virk:hover {
        background-color: #9C2E0E;
    }

    .virk-div2 {
        top: 85px;
        left: 2%;
        width: 39%;
    }

    .title_virk_2 {
        left: 5%;
        top: 190%;
    }

    /* Slideshow container */
    .slideshow-container_virk {
        max-width: 296px;
        left: 9%;
        top: 1628px;
    }

    #prev_virk,
    #next_virk {
        color: #FEE1BB;
    }

    .virk-div3 {
        top: -588px;
        left: 59%;
        width: 39%;
    }

    .title_virk3 {
        left: 61%;
        top: 142%;
    }

    .virk-text3 {
        left: 61%;
        top: 151%;
        padding-right: 3%;
    }
}